@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #323a44;
  width: 100%;
  height: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .block {
  width: 300px;
  height: 300px;
  position: relative;
}
.wrapper .block .cal {
  width: 300px;
  height: 300px;
  border: 12px solid #E5E6E7;
  border-radius: 70px;
  text-align: center;
}
.wrapper .block .cal .cal__item {
  width: 100%;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .block .cal .cal__item.month {
  top: 20px;
  color: #E5E6E7;
  font-size: 40px;
  text-transform: uppercase;
}
.wrapper .block .cal .cal__item.day {
  font-size: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .block .cal .cal__item.year {
  bottom: 30px;
  color: #7C8BA4;
  font-size: 20px;
}
.wrapper .block .timer {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -33.3333333333px;
  right: -33.3333333333px;
  border: 8px solid #323a44;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 12px white;
  transform: rotate(-90deg);
}
.wrapper .block .timer .timer__item {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #323a44;
  border-radius: 70px;
}
.wrapper .block .timer .timer__item.sec {
  width: 40%;
  height: 2.6666666667px;
  margin-top: -1.3333333333px;
  margin-left: -1.3333333333px;
  transform-origin: 1.3333333333px 1.3333333333px;
  background: #E74C3C;
}
.wrapper .block .timer .timer__item.min {
  width: 40%;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  transform-origin: 4px 4px;
}
.wrapper .block .timer .timer__item.hour {
  width: 25%;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  transform-origin: 4px 4px;
}
.wrapper .message {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 2em;
}
.wrapper .message .label {
  background: #0099ff;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px 6px;
  border-radius: 70px;
}
.wrapper .message .label.type {
  background: #65AB09;
}
.wrapper .message .label.month {
  text-transform: uppercase;
}